$bg: rgb(16, 16, 16);

.scrolled {
  background-color: black;
}

.header {
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 4rem;
  align-items: center;
  transition: 0.3s ease-in-out;

  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;

  > img {
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  > div {
    width: 100%;
    margin-left: 2vmax;

    > a {
      margin: 1vmax;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  > svg {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: rgb(182, 179, 179);
    }
  }
}

* {
  margin: 0;
}
