$bg: rgb(16, 16, 16);

.header {
  height: 55px;
  background-color: $bg;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;

  > img {
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  > div {
    width: 100%;
    margin-left: 2vmax;

    > a {
      margin: 1vmax;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  > svg {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: rgb(182, 179, 179);
    }
  }
}

* {
  margin: 0;
}
